# Python
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Poetry
poetry.lock

# Virtual Environment
.venv/

# Data
data/raw/
data/processed/
data/external/

# Models
models/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
